@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul {  
  list-style-type: none;
  padding-left: 0px;
  text-align: right;
  background: black;
  margin: 0;
  padding: 0.5rem;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a{
  color: white;
  text-decoration: none;
}

li a:hover, 
li a:focus {
  color: #f1c40f;
  text-decoration: underline;
}